<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="agrega-movimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
      }

      .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          top: -5px;
          left: 105%;
      }

      .tooltip:hover .tooltiptext {
          visibility: visible;
      }
      .exitoagregar{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">AM</div>
      <div id="agregar" class="agregar">
          <h1>Agregar movimiento</h1>
          <p>Agrega un movimiento a la cuenta.</p>
          <div class="tooltip">Importe:
            <span class="tooltiptext">Solo numeros. Longitud màxima de 16</span>
              <br><input id="importe" name="importe" type="text" value="" autocomplete="off" pattern="\d+(.\d+)?" required="required" maxlength="16" >
          </div>
          <br><br>
          <div class="tooltip">Descripciòn:
            <span class="tooltiptext">Solo letras y numeros. Longitud mìnima de 2 y màxima de 50</span>
              <br><input id="descripcion" name="descripcion" type="text" value="" pattern="[A-Za-z0-9-\\s]{2,50}" required="required" maxlength="50">
          </div>

          <br><br>
          Fecha:<br><input id="fecha" name="text" type="date" value="2018-10-12"  required="required">
          <br><br>
          <button class="button"  type="button" on-click="agregarUnMovimiento">Agregar</button>
      </div>
      <div id="exitoagregar" class="exitoagregar">
          <h1>Movimiento agregado!</h1>
          <p>El movimiento ha sido dado de agregado exitosamente.</p>
          <br><br>
          <button id="otrousuario" class="button" type="button" on-click="agregarOtroMovimiento">Agregar otro movimiento</button>
      </div>
    </div>
  </template>

  <script>
    class AgregaMovimiwento extends Polymer.Element {
      static get is() { return 'agrega-movimiento'; }

      agregarUnMovimiento(){
        var importe = this.$.importe.value;
        var descripcion = this.$.descripcion.value;
        var fecha = this.$.fecha.value;
  console.log( "Inicio Agrega movimiento importe: " + importe);
  console.log( "Inicio Agrega movimiento descripcion: " + descripcion);
  console.log( "Inicio Agrega movimiento fecha: " + fecha);
        var data = sessionStorage.getItem('idcliente');
        if(data == null){
          alert("No existe una sesion activa");
        }else{
            //var pattDescripciòn = new RegExp("[a-zA-Z0-9àèìñòùÀĖÌÒÑÙ ,.'-]{2,50}");
            var pattDescripcion = new RegExp("[A-Za-z0-9-\\s]{2,50}");
            console.log( "pattDescripcion.test(descripcion) " + pattDescripcion.test(descripcion));
            console.log( "!isNaN(importe) " + !isNaN(importe));
            var result = pattDescripcion.test(descripcion) + !isNaN(importe);
            //pattDescripciòn.test(descripcion) && !isNaN(importe);
            if(result){
              var request = new XMLHttpRequest();
              var data = {
      	                "idcliente": data,
      	                "fecha": fecha,
                        "Descripcion": descripcion,
                        "importe": importe
                      };

              var json = JSON.stringify(data);
              console.log( "Inicio Agrega movimiento: " + json);

              request.open("POST","http://localhost:3008/agregamovimiento",false);
              request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
              request.send(json);
              console.log( request.responseText);
              
              this.$.exitoagregar.style.display = "block";
              this.$.agregar.style.display = "none";
            } else{
              console.log("Datos incorrectos");
              alert("Proporcionar la informaciòn necesaria");
            }
        }
      }

      agregarOtroMovimiento(){
        this.$.importe.value ="";
        this.$.descripcion.value ="";
        this.$.fecha.value = "2018-10-12";
         this.$.exitoagregar.style.display = "none";
         this.$.agregar.style.display = "block";
      }

    }

    window.customElements.define(AgregaMovimiwento.is, AgregaMovimiwento);
  </script>
</dom-module>
