<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="agrega-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }

      .exitoagregar{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">AU</div>
      <div id="agregar" class="agregar">
      <h1>Agregar usuario</h1>
      <p>Agrega un nuevo usuaio con los datos siguientes:</p>
      <p></p>
      Nombre:<br><input id="nombre" name="nombre" type="text" value="" autocomplete="off" maxlength="30" required=true  required="required">
      <br><br>
      Apellido Paterno:<br><input id="apellidop" name="apellidop" type="text" value=""  maxlength="30"  required=true  required="required">
      <br><br>
      Apellido Materno:<br><input id="apellidom" name="apellidom" type="text" value=""  maxlength="30"  required=true  required="required">
      <br><br>
      Usuario:<br><input id="usuario" name="usuario" type="text" value="" autocomplete="off" maxlength="10" pattern="^([a-z]+[0-9]{0,2}){5,12}$"  required="required">
      <br><br>
      Constraseña:<br><input id="password" name="password" type="password" value=""  maxlength="10" pattern="[A-Za-z0-9!?-]{8,12}"  required="required">
      <br><br>
      Confirmar constraseña:<br><input id="password2" name="password2" type="password" value=""  maxlength="10"  required="required">
      <br><br>
      <button class="button" type="button" on-click="agregarUsuario">Agregar</button>
    </div>
    <div id="exitoagregar" class="exitoagregar">
      <h1>¡Alta exitosa!</h1>
      <p>El usuario ha sido dado de alta exitosamente.</p>
      <br><br>
      <button id="otrousuario" class="button" type="button" on-click="agregarOtroUsuario">Agregar otro usuario</button>
    </div>

    </div>
  </template>

  <script>
    class AgregaUsuario extends Polymer.Element {
      static get is() { return 'agrega-usuario'; }

      agregarUsuario(){
        var nombre = this.$.nombre.value;
        var apellidop = this.$.apellidop.value;
        var apellidom = this.$.apellidom.value;
        var usuario = this.$.usuario.value;
        var password = this.$.password.value;

  console.log( "Inicio Agrega usuario nombre: " + nombre);
  console.log( "Inicio Agrega usuario apellido paterno: " + apellidop);
  console.log( "Inicio Agrega usuario apellido materno: " + apellidom);
  console.log( "Inicio Agrega usuario usuario: " + usuario);
  console.log( "Inicio Agrega usuario password: " + password);

        var request = new XMLHttpRequest();
        var data = {
                  "usuario": usuario,
                  "password": password,
                  "nombre": nombre,
                  "apellidop": apellidop,
                  "apellidom": apellidom
                };

        var json = JSON.stringify(data);
        console.log( "Inicio Agrega usuaio: " + json);

        request.open("POST","http://localhost:3008/agregausuario",false);
        request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
        request.send(json);
        console.log( request.responseText);
        this.$.exitoagregar.style.display = "block";
        this.$.agregar.style.display = "none";
      }

      agregarOtroUsuario(){
         this.$.nombre.value="";
         this.$.apellidop.value="";
         this.$.apellidom.value="";
         this.$.usuario.value= "";
         this.$.password.value = "";
         this.$.password2.value = "";
         this.$.exitoagregar.style.display = "none";
         this.$.agregar.style.display = "block";
      }
    }

    window.customElements.define(AgregaUsuario.is, AgregaUsuario);
  </script>
</dom-module>
