<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="consulta-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }

      td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .TextoMov{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">CM</div>
      <h1>Consulta movimientos</h1>
      <div id="divMovimientosCta" class="row">
        <button class="button" on-click="obtenerMovimientosCta">Consultar</button>
      </div>
      <br/>
      <div id="TextoMov" class="TextoMov">
        <p>Nombe: [[nombre]]</p>
        <p>Movimientos de la cuenta: [[cuenta]]</p>
      </div>
      <div>
        <table>
          <thead>
            <th>Fecha</th>
            <th>Descripciòn</th>
            <th>Importe</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>
                  [[item.fecha]]
                </td>
                <td>
                [[item.Descripcion]]
                </td>
              <td>
                [[item.importe]]
              </td>
            </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>
  </template>

  <script>
    class ConsultaMovimientos extends Polymer.Element {
      static get is() { return 'consulta-movimientos'; }
      static get properties() {
        return {
            movimientos:{
            type:Array,
            notify:true
          },
          cuenta:{
            type:String
          },
          nombre:{
            type:String
          }
          };
      }

      obtenerMovimientosCta(){
        var request = new XMLHttpRequest();
        var data = sessionStorage.getItem('idcliente');
        if(data == null){
          alert("No existe una sesion activa");
        }else{
          console.log( "Inicio consultaMov para: " + data);
          request.open("GET","http://localhost:3008/MOV/"+data,false);
          request.send();
          console.log( request.responseText);
          console.log( "obteniendo movimientos:");
          var stringJSON = request.responseText;
          stringJSON = stringJSON.substring(1,stringJSON.length-1);
          var obj = JSON.parse(stringJSON);
          console.log("obj.idcliente: "+ obj.idcliente);
          console.log("obj.cuenta: "+ obj.cuenta);
          console.log("obj.nombre: "+ obj.nombre);
          console.log("obj.apellidoPaterno: "+ obj.apellidoPaterno);
          console.log("obj.apellidoMaterno: "+ obj.apellidoMaterno);
          //var obj2 = obj.listado;
          this.movimientos = obj.listado;
          this.cuenta = obj.cuenta;
          this.nombre = obj.nombre +" "+obj.apellidoPaterno+" "+obj.apellidoMaterno;
          console.log( this.movimientos);
          this.$.TextoMov.style.display = "block";
        }
      }

    }

    window.customElements.define(ConsultaMovimientos.is, ConsultaMovimientos);
  </script>
</dom-module>
