<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-authenticate">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .Bienvenida{
        display: none;
      }

    </style>

    <div class="card">
      <div class="circle">L</div>

        <div id="Login">
          <h1>Login</h1>
          <p></p>
          Usuario:<br><input id="usuario" name="usuario" type="text" value="" autocomplete="off" placeholder="usuario" pattern="^([a-z]+[0-9]{0,2}){5,12}$" required="required">
          <br><br>
          Constraseña:<br><input id="password" name="password" type="password" value=""  autocomplete="off"  placeholder="password" pattern="[A-Za-z0-9!?-]{8,12}" required="required">
          <br><br>
          <button  class="button" type="button" on-click="realizaLogin">Acceder</button>
        </div>
        <div id="Bienvenida" class="Bienvenida">
          <h1>¡Bienvenid@!</h1>
          <p>Ahora puedes consultar y agregar movimientos.</p>
        </div>

    </div>
  </template>

  <script>
    class LoginAuthenticate extends Polymer.Element {
      static get is() { return 'login-authenticate'; }

      realizaLogin(){
          var usuario = this.$.usuario.value;
          var password = this.$.password.value;
          console.log( "Login usuario: " + usuario);
          console.log( "Login password: " + password);
          var pattUsuario = new RegExp("^([a-z]+[0-9]{0,2}){5,12}$");
          var pattPassword = new RegExp("[A-Za-z0-9!?-]{8,12}");
          var result = pattUsuario.test(usuario) && pattPassword.test(password);
          console.log( "Login result: " + result );

          if(result){
              var request = new XMLHttpRequest();
              var data = {
                "usuario": usuario,
                "password": password
              };
              var json = JSON.stringify(data);
              console.log( "Login usuaio: " + json);
              request.open("POST","http://localhost:3008/CA/Login",false);
              request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
              request.send(json);
              console.log( request.responseText);
              var obj = JSON.parse(request.responseText);
              console.log("obj.idcliente: "+ obj.idcliente);
              if(obj.idcliente === undefined){
                alert("Usuario o contraseña incorrectos, verifique.");
              }else{
                // (  disp = "none" ou disp = "block");
                sessionStorage.setItem('idcliente', obj.idcliente);
                this.$.Bienvenida.style.display = "block";
                this.$.Login.style.display = "none";
              }

        } else{
            console.log("Datos incorrectos");
            alert("Proporcionar la informaciòn necesaria");
        }
      }

    }

    window.customElements.define(LoginAuthenticate.is, LoginAuthenticate);
  </script>
</dom-module>
