<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="logout-authenticate">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .cerrar{
        display: none;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
    </style>

    <div class="card">
      <div class="circle">LO</div>

        <div id="Logout" class="logout">
          <h1>Cerrar sesiòn</h1>
          <p>Confirme que quiere cerrar la sesiòn.</p>
          <button class="button" type="button" on-click="realizaLogout">Cerrar sesiòn</button>
        </div>
        <div id="cerrar" class="cerrar">
          <p id="error-login">La sesi&oacuten fue cerrada de forma correcta.</p>
        </div>

    </div>
  </template>

  <script>
    class logoutAuthenticate extends Polymer.Element {
      static get is() { return 'logout-authenticate'; }

      realizaLogout(){
        var data = sessionStorage.getItem('idcliente');
        if(data == null){
          alert("No existe una sesion activa");
        }else{
        var request = new XMLHttpRequest();
        console.log( "Inicio logout de:" + data);
        request.open("GET","http://localhost:3008/CA/Logout/"+data,false);
        request.send();
        console.log( request.responseText);
        console.log( "Logut Exitoso:");
        /*
        var stringJSON = request.responseText;
        stringJSON = stringJSON.substring(1,stringJSON.length-1);
        var obj = JSON.parse(stringJSON);
*/
        sessionStorage.removeItem('idcliente');
        this.$.cerrar.style.display = "block";
        this.$.Logout.style.display = "none";
        }
      }
    }

    window.customElements.define(logoutAuthenticate.is, logoutAuthenticate);
  </script>
</dom-module>
